// Themes

.theme-darkblue {
  $text_color:  rgba(238, 238, 238, 0.9);
  $bg_color: #2a2a2a;
  $link_color:  rgba(238, 238, 238, 0.9);
  $link_hover:  #00aedb;

  color: $text_color;
  background: $bg_color;

  .content-section {
    .resume-item-title,
    .resume-item-details,
    .resume-item-copy,
    .resume-item-list {
      a {
        color: $link_color;

        &:hover {
          color: $link_hover;
        }
      }
    }
  }

  .page-footer {
    .footer-line {
      > a {
        color: $link_hover;
      }
    }
  }
}
