// Themes

.theme-darkblue {
  $text_color:  rgba(238, 238, 238, 0.9);
  $bg_color: #2a2a2a;
  $link_color:  rgba(238, 238, 238, 0.9);
  $link_hover:  #00aedb;

  color: $text_color;
  background: $bg_color;

  .content-section {
    .resume-item-title,
    .resume-item-details,
    .resume-item-copy,
    .resume-item-list {
      a {
        color: $link_color;

        &:hover {
          color: $link_hover;
        }

        // normalize link color when print
        @media print {
          color: $bg_color;
        }
      }
    }
  }

  .page-footer {
    .footer-line {
      > a {
        color: $link_hover;
      }
    }
  }

  @media print {
    color: $bg_color;
    background: $text_color;

    // top of title after page break is cut to previous page
    .resume-item-title,
    .resume-item-details {
      padding-top: 0.05rem;
    }

    // avoid page breaking on weird looking points
    .resume-item,
    .section-header {
      page-break-inside: avoid;
    }
  }
}
